{
  "name": "rosso-web",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "src/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "src"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "scss/materialize.scss",
      "imports": [
        "scss/components/_mixins.scss",
        "scss/components/_color.scss",
        "scss/components/_variables.scss",
        "scss/components/_normalize.scss",
        "scss/components/_global.scss",
        "scss/components/_badges.scss",
        "scss/components/_icons-material-design.scss",
        "scss/components/_grid.scss",
        "scss/components/_navbar.scss",
        "scss/components/_roboto.scss",
        "scss/components/_typography.scss",
        "scss/components/_transitions.scss",
        "scss/components/_cards.scss",
        "scss/components/_toast.scss",
        "scss/components/_tabs.scss",
        "scss/components/_tooltip.scss",
        "scss/components/_buttons.scss",
        "scss/components/_dropdown.scss",
        "scss/components/_waves.scss",
        "scss/components/_modal.scss",
        "scss/components/_collapsible.scss",
        "scss/components/_chips.scss",
        "scss/components/_materialbox.scss",
        "scss/components/forms/_forms.scss",
        "scss/components/_table_of_contents.scss",
        "scss/components/_sideNav.scss",
        "scss/components/_preloader.scss",
        "scss/components/_slider.scss",
        "scss/components/_carousel.scss",
        "scss/components/_tapTarget.scss",
        "scss/components/_pulse.scss",
        "scss/components/date_picker/_default.scss",
        "scss/components/date_picker/_default.date.scss",
        "scss/components/date_picker/_default.time.scss",
        "scss/components/forms/_input-fields.scss",
        "scss/components/forms/_radio-buttons.scss",
        "scss/components/forms/_checkboxes.scss",
        "scss/components/forms/_switches.scss",
        "scss/components/forms/_select.scss",
        "scss/components/forms/_file-input.scss",
        "scss/components/forms/_range.scss"
      ]
    },
    {
      "path": "src/404.pug",
      "imports": [
        "src/layouts/public.pug",
        "src/partials/head.pug",
        "src/partials/header.pug",
        "src/partials/footer.pug"
      ]
    },
    {
      "path": "src/index.pug",
      "imports": [
        "src/layouts/public.pug",
        "src/partials/head.pug",
        "src/partials/header.pug",
        "src/partials/footer.pug"
      ]
    },
    {
      "path": "src/layouts/public.pug",
      "imports": [
        "src/partials/head.pug",
        "src/partials/header.pug",
        "src/partials/footer.pug"
      ]
    },
    {
      "path": "scss/components/forms/_forms.scss",
      "imports": [
        "scss/components/forms/_input-fields.scss",
        "scss/components/forms/_radio-buttons.scss",
        "scss/components/forms/_checkboxes.scss",
        "scss/components/forms/_switches.scss",
        "scss/components/forms/_select.scss",
        "scss/components/forms/_file-input.scss",
        "scss/components/forms/_range.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "ftp.rosso.com.mx",
      "port": 21,
      "user": "uploader@rosso.com.mx",
      "password": "oS]NBFoqIA+x"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "404.html",
        "ctime": "2017-11-30T04:27:40.010Z",
        "mtime": "2017-07-26T17:22:39.000Z",
        "size": 2687
      },
      {
        "file": "apple-touch-icon.png",
        "ctime": "2017-11-30T04:27:40.015Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 3958
      },
      {
        "file": "browserconfig.xml",
        "ctime": "2017-11-30T04:27:40.019Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 416
      },
      {
        "file": "crossdomain.xml",
        "ctime": "2017-11-30T04:27:40.023Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 610
      },
      {
        "file": "css/fonts.css",
        "ctime": "2017-11-30T04:27:40.184Z",
        "mtime": "2017-03-01T22:13:19.000Z",
        "size": 638
      },
      {
        "file": "css/materialize.css",
        "ctime": "2017-11-30T04:27:40.182Z",
        "mtime": "2017-07-27T15:54:26.000Z",
        "size": 144222
      },
      {
        "file": "css/style.css",
        "ctime": "2017-11-30T04:51:08.052Z",
        "mtime": "2017-11-30T04:51:08.052Z",
        "size": 491
      },
      {
        "file": "favicon.ico",
        "ctime": "2017-11-30T04:27:40.053Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 766
      },
      {
        "file": "fonts/roboto/Roboto-Bold.woff",
        "ctime": "2017-11-30T04:27:40.214Z",
        "mtime": "2017-07-06T01:20:18.000Z",
        "size": 90308
      },
      {
        "file": "fonts/roboto/Roboto-Bold.woff2",
        "ctime": "2017-11-30T04:27:40.212Z",
        "mtime": "2017-07-06T01:20:18.000Z",
        "size": 64800
      },
      {
        "file": "fonts/roboto/Roboto-Light.woff",
        "ctime": "2017-11-30T04:27:40.208Z",
        "mtime": "2017-07-06T01:20:18.000Z",
        "size": 89672
      },
      {
        "file": "fonts/roboto/Roboto-Light.woff2",
        "ctime": "2017-11-30T04:27:40.203Z",
        "mtime": "2017-07-06T01:20:18.000Z",
        "size": 64268
      },
      {
        "file": "fonts/roboto/Roboto-Medium.woff",
        "ctime": "2017-11-30T04:27:40.213Z",
        "mtime": "2017-07-06T01:20:18.000Z",
        "size": 90560
      },
      {
        "file": "fonts/roboto/Roboto-Medium.woff2",
        "ctime": "2017-11-30T04:27:40.209Z",
        "mtime": "2017-07-06T01:20:18.000Z",
        "size": 65412
      },
      {
        "file": "fonts/roboto/Roboto-Regular.woff",
        "ctime": "2017-11-30T04:27:40.207Z",
        "mtime": "2017-07-06T01:20:18.000Z",
        "size": 89828
      },
      {
        "file": "fonts/roboto/Roboto-Regular.woff2",
        "ctime": "2017-11-30T04:27:40.206Z",
        "mtime": "2017-07-06T01:20:18.000Z",
        "size": 64832
      },
      {
        "file": "fonts/roboto/Roboto-Thin.woff",
        "ctime": "2017-11-30T04:27:40.204Z",
        "mtime": "2017-07-06T01:20:18.000Z",
        "size": 88132
      },
      {
        "file": "fonts/roboto/Roboto-Thin.woff2",
        "ctime": "2017-11-30T04:27:40.211Z",
        "mtime": "2017-07-06T01:20:18.000Z",
        "size": 63056
      },
      {
        "file": "humans.txt",
        "ctime": "2017-11-30T04:27:40.076Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 229
      },
      {
        "file": "index.html",
        "ctime": "2017-11-30T05:00:11.464Z",
        "mtime": "2017-11-30T05:00:11.464Z",
        "size": 1817
      },
      {
        "file": "js/main.js",
        "ctime": "2017-11-30T04:27:40.236Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 0
      },
      {
        "file": "js/plugins.js",
        "ctime": "2017-11-30T04:27:40.234Z",
        "mtime": "2017-07-27T16:09:19.000Z",
        "size": 760
      },
      {
        "file": "js/vendor/jquery-3.2.1.min.js",
        "ctime": "2017-11-30T04:27:40.240Z",
        "mtime": "2017-07-26T16:05:09.000Z",
        "size": 86659
      },
      {
        "file": "js/vendor/materialize.js",
        "ctime": "2017-11-30T04:27:40.248Z",
        "mtime": "2017-07-22T04:42:04.000Z",
        "size": 366601
      },
      {
        "file": "js/vendor/materialize.min.js",
        "ctime": "2017-11-30T04:27:40.247Z",
        "mtime": "2017-07-22T04:42:04.000Z",
        "size": 165870
      },
      {
        "file": "js/vendor/date_picker/picker.date.js",
        "ctime": "2017-11-30T04:27:40.246Z",
        "mtime": "2017-07-22T04:41:58.000Z",
        "size": 50060
      },
      {
        "file": "js/vendor/date_picker/picker.js",
        "ctime": "2017-11-30T04:27:40.243Z",
        "mtime": "2017-07-22T04:41:58.000Z",
        "size": 35981
      },
      {
        "file": "js/vendor/date_picker/picker.time.js",
        "ctime": "2017-11-30T04:27:40.244Z",
        "mtime": "2017-07-22T04:41:58.000Z",
        "size": 21203
      },
      {
        "file": "package.json",
        "ctime": "2017-11-30T04:27:40.108Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 175
      },
      {
        "file": "README.md",
        "ctime": "2017-11-30T04:27:40.128Z",
        "mtime": "2017-07-27T18:36:54.000Z",
        "size": 1331
      },
      {
        "file": "robots.txt",
        "ctime": "2017-11-30T04:27:40.137Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 77
      },
      {
        "file": "src/404.html",
        "ctime": "2017-11-30T05:00:11.464Z",
        "mtime": "2017-11-30T05:00:11.464Z",
        "size": 1633
      },
      {
        "file": "tile-wide.png",
        "ctime": "2017-11-30T04:27:40.147Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 1854
      },
      {
        "file": "tile.png",
        "ctime": "2017-11-30T04:27:40.150Z",
        "mtime": "2016-04-26T20:19:22.000Z",
        "size": 3482
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}