extends layouts/public.pug

block content
	//- .container
	//- 	.row
	//- 		h3 Hello world!

	.container.valign-wrapper#working
		.row
			.col.s3
				img(src="https://d30y9cdsu7xlg0.cloudfront.net/png/593651-200.png", alt="")
			.col.s9.center
				h2 Próximamente rosso.com.mx
